body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: darksalmon;
    height: 500px;
    width: 400px;
    border-radius: 20px;
}
.outputField{
    box-sizing: border-box;
    height: 100px;
    width: 400px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.resultField{
    height: 100px;
    width: 400px;
    border-radius: 20px;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.keyPad{
    box-sizing: border-box;
    height: 300px;
    width: 400px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.numPad{
    display: flex;
    flex-wrap: wrap;

}
.key{
    box-sizing: border-box;
    border-radius: 20px;
    width: 100px;
    height:75px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;   
    background-color: cadetblue;
    cursor: pointer;
    
}
.currentOperator{
    background-color:aqua;
}