body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffeace;
}
.calculator{
    background-color:#ddddde ;
    height: 500px;
    width: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    margin-top: 100px;
}
.lowerField{
    height: 100px;
    width: 370px;
    font-size: 40px;
    margin: 0px 5px 15px 5px;
    border-radius: 0px 0px 4px 4px;
}
.upperField{
    height: 100px;
    width: 370px;
    font-size: 60px;
    margin: 15px 5px 0px 5px;
    border-radius: 4px 4px 0px 0px;
}
.lowerField, .upperField{
    background-color: aliceblue;
    box-sizing: border-box;
    text-align: right;
    padding: 5px 15px 5px 15px;
    overflow: hidden;
}
.keyPad{
    box-sizing: border-box;
    height: 300px;
    width: 400px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.key{
    box-sizing: border-box;
    border-radius: 10px;
    width: 90px;
    height:50px;
    margin: 5px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;   
    background-color: #70b6f3;
    cursor: pointer;
}
.key:hover{
    scale: 1.1;
}
.divide, .multiply, .subtract, .add{
    background-color:rgb(212 236 203);
}
.currentOperator{
    background-color:aqua;
}
#special{
    width: 190px;
}
